<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ml.u_finder.u_finder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_ufinder"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_ufinder"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AdminActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MapActivity"
            android:screenOrientation="portrait">


        </activity>
    </application>

</manifest>